/modealcard.cpython-38.pyc
/modealdata.cpython-38.pyc
/modealdipc.cpython-38.pyc
/modealgame.cpython-38.pyc
/modealhttp.cpython-38.pyc
/modealplayer.cpython-38.pyc
/modealxml.cpython-38.pyc
/__init__.cpython-38.pyc
